footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--mainColor);
  gap: 5vh;
  color: var(--textColor5);
  padding-bottom: 0;
  border-top: 1px solid var(--textColor5);
}
footer .footer-container .footer-content {
  width: 80%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

footer .footer-container .footer-content .footer-list {
  height: 15vh;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
footer .footer-container .footer-content .footer-list p {
  font-weight: 700;
  margin-bottom: 20%;
}
footer .footer-container .footer-content .footer-list ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
footer .footer-container .footer-content .footer-list ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
footer .footer-container .footer-content .footer-list ul li a {
  transition: all 0.1s linear;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
footer .footer-container .footer-content .footer-list ul li a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

footer .footer-container .footer-content .footer-list span {
  color: var(--textColor4);
}

footer .footer-container .copy-right {
  border-top: 1px solid rgb(147, 166, 167, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  margin-top: 15px;
  color: var(--textColor4);
}
footer .footer-container .copy-right pre {
  text-wrap: wrap;
}
