/* ! start Header style */
header .header-container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 2;
  height: 10vh;
  width: 100%;
  background-color: var(--mainColor);
  padding: var(--mainPadding);
  border-bottom: 2px solid var(--textColor2);
  box-shadow: 0 0 5px 1px var(--textColor3);
}

header .header-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    var(--logoColor1),
    var(--logoColor2)
  );
  background-clip: text;
  color: transparent;
  font-style: italic;
  font-weight: 900;
  padding: var(--mainPadding);
  width: fit-content;
  height: fit-content;
}

header .header-container .bar {
  color: var(--textColor4);
  display: none;
}
header .header-container ul {
  padding: var(--mainPadding);
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 100%;
  gap: 5vw;
}
header .header-container ul li {
  display: flex;
  width: 100%;
}

header .header-container ul li a {
  position: relative;
  text-wrap: nowrap;
  text-decoration: none;
  padding: 5px;
  width: fit-content;
  height: fit-content;
}

header .header-container ul li a span {
  display: block;

  font-weight: 600;
  margin-left: 5px;
  color: var(--textColor5);
}
header .header-container ul li:not(:last-child) a span {
  padding: 5px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
header .header-container ul li:not(:last-child) a span:hover {
  background-image: linear-gradient(
    45deg,
    var(--logoColor2),
    var(--logoColor1)
  );
  background-clip: text;
  color: transparent;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
header .header-container ul li a .link {
  transition: all 0.2s ease;
  background-color: var(--btnColor);
  padding: 10px var(--mainPadding);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
header .header-container ul li a .link:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/*end Header style */

/* responsive */
@media (min-width: 320px) and (max-width: 767px),
  (max-width: 992px) and (orientation: landscape) {
  header .header-container .bar {
    display: block;
    position: absolute;
    font-weight: bold;
    left: 5%;
    top: 30%;
  }
  header .header-container ul {
    animation: soothShow 0.5s ease-in-out;

    width: 30%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 103%;
    left: 0;
    margin: 0;
    background-color: var(--mainColor);
    gap: 0;
    border-bottom: 2px solid var(--textColor2);
    box-shadow: 0 0 5px 1px var(--textColor2);

    -webkit-animation: soothShow 0.5s ease-in-out;
  }

  header .header-container ul li {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: calc(10px + var(--mainPadding));
  }
  header .header-container ul li:not(:last-child) {
    border-bottom: 2px solid var(--logoColor2);
  }
}
