.join {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--mainColor);
  color: var(--textColor5);
  height: fit-content;
  padding: 50px var(--mainPadding);
  gap: 5vh;
}
.join h2 {
  height: fit-content;
  width: fit-content;
  padding: 5px;
  font-size: 1.8rem;
  background-image: linear-gradient(
    45deg,
    var(--logoColor1),
    var(--logoColor2)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}

.join p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--textColor4);
}
.join .join-btns {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.join .join-btns a {
  transition: var(--transition);
  color: var(--logoColor1);
  font-size: 1rem;
  font-weight: 600;
  padding: var(--mainPadding) 30px;
  border: 2px solid var(--logoColor1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.join .join-btns a:first-child {
  background-image: linear-gradient(
    45deg,
    var(--logoColor1),
    var(--logoColor2)
  );
  border: 2px solid var(--logoColor2);
  color: var(--textColor5);
}

.join .join-btns a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.join .join-btns a:last-child:hover {
  border: 2px solid var(--logoColor2);
  color: var(--textColor5);
  background-image: linear-gradient(
    45deg,
    var(--logoColor1),
    var(--logoColor2)
  );
}
