.comment-card {
  transition: var(--transition);
  margin: 20px 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: var(--bodyColor);
  padding: var(--mainPadding);
  border-radius: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 1px 1px var(--textColor2);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  gap: 15px;
}
.comment-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 0 0 5px 0 var(--mainColor);
}

.comment-card .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.comment-card .icon {
  color: var(--textColor3);
  margin-bottom: 10px;
}

.comment-card h4 {
  margin: 0;
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    var(--textColor2),
    var(--textColor3)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}
.comment-card p {
  height: fit-content;
  line-height: 1.4rem;
  font-weight: 600;
  color: var(--textColor4);
}
@media (max-width: 575.95px) {
  .comment-card {
  height: 270px;
  }
}
