.programs .program-card {
  transition: var(--transition);
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 400px;
  max-height: 500px;
  width: 100%;
  flex-direction: column;
  background-color: var(--bodyColor);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);

  box-shadow: 0 0 10px 0 var(--textColor2);
}
.programs .program-card:hover {
  box-shadow: 0 0 15px 0 var(--textColor2);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.programs .program-card .main-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.programs .program-card .main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs .program-card .main-desc {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2vw;
}
.programs .program-card .main-desc h4 {
  padding: 2px;
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    var(--textColor2),
    var(--textColor3)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}

.programs .program-card .main-desc p {
  font-weight: 600;
  color: var(--textColor4);
}

.programs .program-card a {
  transition: all 0.1s ease-out;
  background-color: var(--btnColor);
  padding: 10px var(--mainPadding);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  color: var(--textColor5);
  width: 80%;
  margin-bottom: 10%;
}
