.services .service-card {
  transition: all 0.3s ease-out;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 150px;

  background-color: var(--bodyColor);
  gap: 15px;
  padding: var(--mainPadding);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 1px 1px var(--textColor2);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.services .service-card:hover {
  box-shadow: 0 0 5px 1px var(--textColor2);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.services .service-card .icon {
  font-size: 1.8rem;
  color: var(--textColor3);
}
.services .service-card h4 {
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    var(--textColor2),
    var(--textColor3)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}
.services .service-card p {
  font-weight: 600;

  color: var(--textColor4);
}
@media (max-width: 575.98px) {
  .services .service-card {
    width: 70%;
  }
}
