/* Rubik font  */

/* Thin - الوزن 100 */
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Light - الوزن 300 */
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Regular - الوزن 400 */
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium - الوزن 500 */
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold - الوزن 600 */
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold - الوزن 700 */
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Black - الوزن 900 */
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* italic*/
@font-face {
  font-display: optional;
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/* Amiri font  */

/* italic*/

@font-face {
  font-display: optional;
  font-family: "Amiri";
  src: url("./Amiri/Amiri-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Regular - الوزن 400 */
@font-face {
  font-display: optional;
  font-family: "Amiri";
  src: url("./Amiri/Amiri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold - الوزن 700 */
@font-face {
  font-display: optional;
  font-family: "Amiri";
  src: url("./Amiri/Amiri-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Bold  italic- الوزن 700 */
@font-face {
  font-display: optional;
  font-family: "Amiri";
  src: url("./Amiri/Amiri-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
