:root {
  /* root  colors */
  --mainColor: #0a4d30;
  --logoColor1: #d9b23d;
  --logoColor2: #956520;
  --textColor1: #d9b23d;
  --textColor2: #0a4d30;
  --textColor3: #0b8d5d;
  --textColor4: #93a6a7;
  --textColor5: #fff;
  --secColor1: #f9f9fa;
  --secColor2: #fefefc;
  --secColor3: #0b4d2f;
  --btnColor :#D96704;
  --tableColor1 : #EDFAF4;
  /* root padding And Margin */
  --mainPadding: 20px;
  --mainMargin: 20px;
}
