/* sec1 */

.contact-sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url("../../assets/images/contactBackgroundImg.jpg");
  background-size: cover;
}
.contact-sec1 h1 {
  margin: 0;
  padding: var(--mainPadding);
  width: fit-content;
  height: fit-content;
  font-weight: 900;
  background-image: linear-gradient(
    45deg,
    var(--logoColor1),
    var(--logoColor2)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}
.contact-sec1 p {
  font-weight: 500;
  color: var(--textColor4);
}
.contact-sec1 .icon {
  position: absolute;
  bottom: 20%;
  font-weight: 600;
  color: var(--textColor4);
}

/* sec2 */
.contact-sec2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
  gap: 5vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--textColor5);
  padding: 5%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 5px var(--textColor4);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--textColor4);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(61, 203, 61, 0.5);
  border-radius: var(--border-radius);

  outline: none;

  color: rgb(51, 47, 47);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  background-color: rgb(245 158 11);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.contact-form button:hover {
  box-shadow: 0 0 3px 0 var(--logoColor2);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.err {
  color: rgb(194, 24, 24);
  font-weight: 700;
  background-color: rgb(161 235 170);
  padding: 5px;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  width: fit-content;
  margin: 5px;
}
.contact-sec2 .container .contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: var(--mainPadding) 0;
  gap: 5vh;
}

.contact-sec2 .container .contact-links .contact-info,
.contact-sec2 .container .contact-links .contact-fast,
.contact-sec2 .container .contact-links .follow-links {
  box-shadow: 0 0 5px var(--textColor4);
  padding: var(--mainPadding);
  width: 100%;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.contact-sec2 .container .contact-links h4 {
  font-weight: 900;
  background-image: linear-gradient(
    45deg,
    var(--textColor3),
    var(--textColor2)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}
.contact-sec2 .container .contact-links .contact-info .links {
  padding-top: var(--mainPadding);
  display: flex;
  list-style-type: none;
  width: 100%;
  flex-direction: column;
  gap: var(--mainPadding);
}
.contact-sec2 .container .contact-links .contact-info .links .link {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.contact-sec2
  .container
  .contact-links
  .contact-info
  .links
  .link
  p:first-child {
  color: rgb(245 158 11);
}

.contact-sec2 .container .contact-links .contact-fast .contact-fast-links {
  padding-top: var(--mainPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-sec2 .container .contact-links .contact-fast .contact-fast-links a {
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px var(--mainPadding);
  background-color: var(--textColor3);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  width: 49%;
  color: var(--textColor5);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.contact-sec2
  .container
  .contact-links
  .contact-fast
  .contact-fast-links
  a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.contact-sec2
  .container
  .contact-links
  .contact-fast
  .contact-fast-links
  a:last-child {
  background-color: #029fe6;
}

.contact-sec2 .container .contact-links .contact-fast .contact-fast-links a p {
  display: flex;
  gap: 5px;
}
.contact-sec2 .container .contact-links .follow-links .links {
  margin-top: var(--mainPadding);
  display: flex;
  gap: 3vw;
}
.contact-sec2 .container .contact-links .follow-links .links a {
  transition: var(--transition);
  color: var(--textColor3);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.contact-sec2 .container .contact-links .follow-links .links a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
@media (max-width: 575.98px) {
  .contact-sec2 .container {
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5vh;
  }
  .contact-form {
    width: 100%;
  }
}
