/* sec1 */
.home-sec1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  gap: 10%;
}

.home-sec1 .container .main-img-desc {
  width: 60%;
  height: 100%;
  line-height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 5vh;
}
.home-sec1 .container .main-img-desc h1 {
  margin: 0;
  padding: var(--mainPadding);
  width: fit-content;
  height: fit-content;
  font-weight: 900;
  background-image: linear-gradient(
    45deg,
    var(--textColor3),
    var(--textColor2)
  );
  background-clip: text;
  color: transparent;
}
.home-sec1 .container .main-img-desc p {
  font-weight: 500;
  color: var(--textColor4);
}
.home-sec1 .container .main-img-desc div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 10%;
}
.home-sec1 .container .main-img-desc div a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-wrap: nowrap;
  background-color: var(--mainColor);
  padding: var(--mainPadding);
  width: 80%;
  height: 50%;
  color: var(--textColor5);
  font-weight: 600;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  border: 2px solid var(--mainColor);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.home-sec1 .container .main-img-desc div a:last-child {
  background-image: linear-gradient(
    45deg,
    var(--logoColor1),
    var(--logoColor2)
  );
  background-clip: text;
  color: transparent;
  background-color: var(--textColor5);
  border: 2px solid var(--logoColor2);
}
.home-sec1 .container .main-img-desc div a:hover,
.home-sec1 .container .main-img-desc div a:last-child:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.home-sec1 .container .main-img-desc div a:last-child:hover {
  color: var(--textColor5);
  background-clip: border-box;
}
.home-sec1 .container .main-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 1vh;
}
.home-sec1 .container .main-img img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.home-sec1 .container .main-img a {
  color: var(--mainColor);
  font-weight: 600;
}

/* sec2 and sec3 */
.home-sec2,
.home-sec4 {
  background-color: var(--secColor1);
}
.home-sec2 .container,
.home-sec3 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding: 50px var(--mainPadding);
  gap: 5vh;
}
.home-sec2 .container .sec2-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}

.home-sec2 .container .sec2-title h2,
.home-sec3 .container h2,
.home-sec4 .container h2 {
  background-image: linear-gradient(
    45deg,
    var(--textColor2),
    var(--textColor3)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}
/* sec2 */
.home-sec2 .container .sec2-title p {
  font-weight: 600;
  color: var(--textColor4);
}

.home-sec2 .container .services {
  margin-top: 40px;
  width: 100%;
  height: fit-content;
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

/* sec3 */
.home-sec3 .container {
  background-color: var(--bodyColor);
}

.home-sec3 .container .programs {
  margin-top: 40px;
  width: 100%;
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
/* sec4 */
.home-sec4 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secColor1);
  height: fit-content;
  padding: 50px var(--mainPadding);
  gap: 5vh;
}

.home-sec4 .container .comments {
  width: 100%;
  height: auto; /* ارتفاع الـ Slider */
  overflow: hidden; /* منع ظهور أي محتوى زائد */
}
.slick-slide {
  padding: 0 10px; /* إضافة مسافة أفقية بين الشرائح */
}

.slick-list {
  margin: 0 -10px; /* تعويض المسافة المضافة لتجنب التمرير الأفقي */
}
.slick-initialized .slick-slide div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sec5 */
.home-sec5 .container {
  padding: 0;
}

/* responsive  */
@media (max-width: 575.98px) {
  .home-sec1 .container {
    flex-direction: column-reverse;
    height: 105vh;
    gap: 0;
   
  }
}
