.programs-sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url("../../assets/images/contactBackgroundImg.jpg");
  background-size: cover;
  padding: var(--mainPadding);
}

.programs-sec1 h1 {
  margin: 0;
  padding: var(--mainPadding);
  width: fit-content;
  height: fit-content;
  font-weight: 900;
  background-image: linear-gradient(
    45deg,
    var(--logoColor1),
    var(--logoColor2)
  );
  background-clip: text;
  color: transparent;
  text-wrap: wrap;
}
.programs-sec1 p {
  font-weight: 500;
  color: var(--textColor4);
}
.programs-sec1 .icon {
  position: absolute;
  bottom: 20%;
  font-weight: 600;
  color: var(--textColor4);
}

/* sec2 */
.programs-sec2 {
  background-color: var(--secColor1);
}
.programs-sec2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px var(--mainPadding);
  gap: 5vh;
}
.programs-sec2 .container h2 {
  background-image: linear-gradient(
    45deg,
    var(--textColor2),
    var(--textColor3)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
  margin-bottom: 10vh;
}

.programs-sec2 .container .programs {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

/* sec3 */
.programs-sec3 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px var(--mainPadding);
  gap: 5vh;
}
.programs-sec3 .container h2 {
  background-image: linear-gradient(
    45deg,
    var(--textColor2),
    var(--textColor3)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}

.programs-sec3 .container .skills {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 40px;
}

.programs-sec3 .container .skills .skills-container {
  transition: var(--transition);
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  height: 200px;
  gap: 15%;
  padding: var(--mainPadding);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.programs-sec3 .container .skills .skills-container .icon {
  color: var(--logoColor1);
}

.programs-sec3 .container .skills .skills-container h3 {
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    var(--textColor2),
    var(--textColor3)
  );
  background-clip: text;
  color: transparent;
  text-wrap: nowrap;
}

.programs-sec3 .container .skills .skills-container p {
  font-weight: 600;
  color: var(--textColor4);
}
