* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: auto 0;
  padding: var(--mainPadding);
}
a {
  text-decoration: none;
  color: initial;
}
body {
  font-family: Amiri, Rubik ,Arial, Helvetica, sans-serif;
  padding-top: 10vh;
}
